Options -MultiViews
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Ne pas réécrire les vraies ressources (fichiers, dossiers)
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # Tout le reste → index.html (React Router gère)
  RewriteRule ^ index.html [L]
</IfModule>

# Optionnel : Désactiver la signature du serveur
ServerSignature Off
